! special
*.foreground:   #c5c5c5
*.background:   #1c1c1c
*.cursorColor:  #c5c5c5

! black
*.color0:       #1c1c1c
*.color8:       #666666

! red
*.color1:       #ff005b
*.color9:       #ff00a0

! green
*.color2:       #cee318
*.color10:      #ccff00

! yellow
*.color3:       #ffe755
*.color11:      #ff9f00

! blue
*.color4:       #048ac7
*.color12:      #48c6ff

! magenta
*.color5:       #833c9f
*.color13:      #be67e1

! cyan
*.color6:       #0ac1cd
*.color14:      #63e7f0

! white
*.color7:       #e5e5e5
*.color15:      #f3f3f3

! Xcursor
Xcursor.size: 16

! URxvt
! Require urxvt-perls, urxvt-resize-font-git (AUR)
URxvt.font: xft:Hack:regular:size=12,xft:Source Code Pro:size=12
URxvt.geometry: 120x40
URxvt*scrollBar: false
URxvt.depth: 32
URxvt*background: [95]#1c1c1c
URxvt.perl-ext-common: default,matcher,resize-font,clipboard
URxvt.url-launcher: brave
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&amp;@#-]*[\\w/-]
URxvt.clipboard.autocopy: true
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.iso14755: false
URxvt.iso14755_52: false
